*{
    margin: 0px;
    padding: 0px;
}
.com{
    font-family: math;
    color: brown;
}

.fab.fa-instagram{
    margin: 10px;
}
.fa.fa-twiter{
    margin: 10px;
}
.fab.fa-facebook{
    margin: 10px;
}
.fab.fa-linkedin{
    margin: 10px;
}
.mid{
      background-image: url('../assets/image/dragon.jpg'); 
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: ivory;
}

.z{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.main{
    background-color: ivory;
    width: 100%;
}
.left{
    padding: 50px;
    float: left;
    width: 50%;
}
.right{
    padding: 50px;
    float: right;
    width: 50%;
}

.clear{
    clear: both;
}

#footer{
    background-color: mistyrose;
}

.fab.fa-linkedin{
    display: inline-block;
    margin: 0 5px 0 5px;
}
.arrow{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

 @media screen and (max-width: 1400px) {
    .mid{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
  } 


/* @media screen and (max-width: 1400  px) {
    .pd {
      display: none;
    }
  } */

      @media only screen and (max-width: 500px){ 
        .img-fluid {
                width: 100%;
                 }

         .main{
            justify-content: center;
            display: flex;
            flex-direction: column;
         }

        .left{
            width: 100%;
        }
    
            .right{
                width: 100%;
            }
            }

.ig img{
    width: 100%;
    height: auto;
    object-fit: cover;
}   

/* @media only screen and (max-width: 800px){ 
.topnav{
display: none;
}
}*/

/* @media only screen and (max-width: 800px){ 
    .navbar-1{
    display: none;
    }
    }  */
     
    /* @media only screen and (max-width: 980px){ 
        .navbar-toggler{
        display: none;
        }
        }  */

        /* .col-md-3{
            float: right;
        } */

        .row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            align-items: stretch;
        }

        .pd{
            align-items: center;
        }

        .navbar-toggler{
            display: flex;
        }
        /* .image{
            width: 100px;
        } */

        .card-text{
            padding: 10px;
        }
        .card-title{
            display: flex;
            justify-content: center;
        }

        .btn.tn-primary{
            display: flex;
            justify-content: center;
        }

        .navbar{
            z-index: 1;
        }

.btn.btn-primary{
    display: flex;
    justify-content: center;
}
